<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


 




<form action="" method="post">

<input type="text" name = "username" value=" <%=   editdata.username  %>    " placeholder="Enter username" >
<input type="password" name = "password" value=" <%=   editdata.password  %> " placeholder="Enter password" >
<input type="text" name = "email" value=" <%=   editdata.email  %> " placeholder="Enter email" >
<input type="submit" value="Update" >
</form>

</body>
</html>